process {

//    module='singularity/latest'

    container  = 'docker://andersenlab/cegwas2:latest'
    errorStrategy='ignore'
    maxRetries=3
}

report {
    enabled = true
}



singularity {

    enabled = true
    autoMounts = true

    cacheDir = "/projects/b1059/projects/Dan/singularity_cache"
}


executor {

    queueSize=500
    submitRateLimit=10

}
